.open
__pycache__
.DS_Store

.idea
env

run.py
app/static/css/bootstrap*
app/static/js/bootstrap*
app/static/css/normalize.css
*.tex
**.sketch
app/templates/tech/projects
*.db
app/static/pdfs
app/static/images/project*
app/templates/blog/1.html
app/templates/blog/2.html                                                                                                                
app/templates/blog/3.html                                                                                                                
app/templates/blog/4.html                                                                                                                
app/templates/blog/5.html
app/static/css/thumbnail-gallery.css
app/static/fonts
