{% extends "blog/blog-post-template.html" %}
{% block content %}

<div class="paragraph">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Cras consequat massa sit amet justo consectetur ultricies.
  Etiam vel molestie justo. Nam eu consequat risus, ut pulvinar velit.
  Quisque purus erat, tempor non nibh a, suscipit consequat sapien.
  Nulla lectus magna, tincidunt eu enim in, facilisis sollicitudin libero.
  Duis vel risus sodales, dictum turpis vitae, consectetur felis. Duis ipsum
  libero, condimentum malesuada nulla a, mattis pulvinar eros. Suspendisse
  malesuada blandit lectus, ac porta justo blandit a. Proin commodo magna
  sed felis commodo, ultrices lobortis ligula ultricies. In at odio sit amet
  nibh bibendum ultricies.
</div>

{% endblock %}